.table-container {
    border: 3px solid #d8dde6;
    margin: 0rem 1rem 0rem 1rem;
}

.column-box {
    text-align: center;
    border: 1px solid #d8dde6;
}

.column-header {
    border: 3px solid #d8dde6;
    text-align: center;
}